<!-- Generated template for the PopoverComponent component -->
<!-- <ion-list>
  <ion-item>
    <button ion-button clear light>Home</button>
    
  </ion-item>
  <ion-item>
    Profile
  </ion-item>
  <ion-item>
    LogOut   
  </ion-item>
</ion-list> -->
<ion-list>
    <!-- <ion-list-header>Ionic</ion-list-header> -->
    <button ion-item (click)="close()">Home</button>
    <button ion-item (click)="close()">Profile</button>
    <button ion-item (click)="logout()">LogOut</button>
    <!-- <button ion-item (click)="close()"> Repo</button> -->
  </ion-list>
