<ion-header>
    <ion-navbar>
      <ion-title>
        Sign Up
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <ion-list>
  
          <ion-item>
            <ion-label inline>Username</ion-label>
            <ion-input [(ngModel)]="user.username"  type="text" name="username" ></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label inline>Password</ion-label>
            <ion-input [(ngModel)]="user.password" type="password" name="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label inline>Type</ion-label>
            <ion-select name="type" id="access" [(ngModel)]="user.type"  required>
              <ion-option value="user">User</ion-option>
              <ion-option value="publisher">Publisher</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label inline>DOB</ion-label>
            <ion-input [(ngModel)]="user.dob" type="date" name="dob"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label inline>Email</ion-label>
            <ion-input [(ngModel)]="user.email"  type="email" name="email" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label inline>Phone</ion-label>
            <ion-input [(ngModel)]="user.phone"  type="text" name="phone" ></ion-input>
          </ion-item>
        
        </ion-list>
        <div padding>
          <button ion-button block (click)="signUp()">Sign Up</button>
        </div>
        <p padding-left text-center>Already a user? <a (click)="signIn()" >Sign in</a></p>
  </ion-content>
  