<!--
  Generated template for the AddCommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>add-comment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>

        <ion-item>
          <ion-textarea rows="5" type="text" [(ngModel)]="text" name="text" placeholder="Comment"></ion-textarea>
        </ion-item>
      
      </ion-list>
  <button ion-button block (click)="addComment()" >Add</button>
</ion-content>
