<!--
  Generated template for the BlogsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>blogsList</ion-title>
    <button ion-button (click)="addNewBlog()" >  <ion-icon name="add-circle"></ion-icon>  Blog </button>
    <button ion-button clear style="float: right;" (click)="presentPopover($event)" ><ion-icon name="more"></ion-icon></button>        
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let blog of blogs">
    <ion-item>
      <ion-avatar item-start>
        <img src="https://www.wallpapersrc.com/img/a1a38ee1870146e782f51584706c93d3/thor-avengers-infinity-war-thunder-thor-infinity-war-736x488.jpg">
      </ion-avatar>
      <h2>{{blog.author.username}}</h2>
      <p>{{blog.created | date: 'dd/MM/yyyy'}}</p>
    </ion-item>
    
    <a (click)="onLink(blog._id)">
    <img src="{{blog.image}}">
  
    <ion-card-content>
      <p>{{blog?.body?.substring(0,100)}}....</p>
    </ion-card-content>
    </a>  
  
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{blog.likecount}} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{blog.comments.length}} Comments</div>
        </button>
      </ion-col>
      <!-- <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col> -->
    </ion-row>
  </ion-card>
  <!-- <ion-card>
    <img src="https://www.wallpapersrc.com/img/a1a38ee1870146e782f51584706c93d3/thor-avengers-infinity-war-thunder-thor-infinity-war-736x488.jpg">
    <ion-card-content>
      <ion-card-title>
        Nine Inch Nails Live
        </ion-card-title>
      <p>
        The most popular industrial group ever, and largely
        responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>
  </ion-card> -->
  <!-- <ion-card>
    <img src="https://wallpapersite.com/images/wallpapers/avengers-infinity-war-1024x768-chris-evans-sebastian-stan-karen-13173.jpg">
    <ion-card-content>
      <ion-card-title>
        Nine Inch Nails Live
        </ion-card-title>
      <p>
        The most popular industrial group ever, and largely
        responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>
  </ion-card> -->
</ion-content>
