<!--
  Generated template for the BlogEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>blog-edit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form (ngSubmit)="submitForm()">
        <ion-item>
          <!-- <ion-label floating>Todo</ion-label> -->
          <ion-input placeholder="title" type="text" [(ngModel)]="blog.title" name="title"></ion-input>
        </ion-item>
        <ion-item>
          <!-- <ion-label floating>Description</ion-label> -->
          <ion-input  placeholder="image URL" type="text" [(ngModel)]="blog.image" name="image"></ion-input>
        </ion-item>
        <ion-item>
            <!-- <ion-label floating>Description</ion-label> -->
            <ion-textarea  placeholder="description" rows="10" [(ngModel)]="blog.body" name="body"></ion-textarea>
        </ion-item>
        <button ion-button type="submit" block>ADD BLOG</button>
      </form>
</ion-content>
