<ion-header>
  <ion-navbar>
    <ion-title>
      Blog Site
    </ion-title>
    
    <!-- <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content padding >
  
  <div text-center id="home-header">
      <h1>Publish your passions,</h1> <h1>your way</h1>
      <button  ion-button outline large color="light" icon-right (click)="signUp()" >Register</button>  
      <button  ion-button outline large color="light" icon-left (click)="signIn()" >Sign In</button>
      <button  ion-button outline large color="light" icon-left (click)="showBlogList()" >Blog List</button>      
  </div>
</ion-content>
