page-home {
    ion-content{
        // background-image: url(https://i.pinimg.com/736x/2a/24/74/2a24740658e1910bcfedbbdd83098c4e--wallpaper-mobile-mobile-wallpapers.jpg);
        background-image: url(https://i.pinimg.com/originals/e2/63/38/e26338cc5d87b2cc924b5fbc9e4722c0.jpg);
        min-height: 500px;
        // margin: 50% 50%;
        // background-size: 100%;
        // background-repeat: no-repeat;
    }

    #home-header{
        margin: 50% 0;        
        color: white;
    }

    ion-select.select.select-ios.ng-untouched.ng-pristine.ng-valid {
        padding: 0px;
    }
    ion-label#lbl-0 {
        margin: 0;
    }
}
