<!--
  Generated template for the BlogDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>blog-detail</ion-title>
    <button ion-button clear style="float: right;" (click)="presentPopover($event)" ><ion-icon name="more"></ion-icon></button>    
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="https://www.wallpapersrc.com/img/a1a38ee1870146e782f51584706c93d3/thor-avengers-infinity-war-thunder-thor-infinity-war-736x488.jpg">
          </ion-avatar>
          <h2>{{blog?.author?.username}}</h2>
          <p>{{blog?.created | date: 'dd/MM/yyyy'}}</p>
        </ion-item>
      
        <img src="{{blog?.image}}">
      
        <ion-card-content>
          <h1>{{blog?.title}}</h1>
          <p>{{blog?.body}}....</p>
        </ion-card-content>
      
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{blog?.likecount}} Likes</div>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-left clear small >
                <ion-icon name="create"></ion-icon>
              <div>Edit</div>
            </button>
          </ion-col>
          <ion-col col-4>
              <button ion-button icon-left clear small (click)="onDelete()" >
                  <ion-icon name="trash"></ion-icon>
                <div>Delete</div>
              </button>
            </ion-col>
        </ion-row>
      </ion-card>
      <p><button ion-button (click)="addComment()"  text-center style="margin: 0 30%">Add Comment</button></p>
      <ion-card *ngFor="let comment of comments">
          <ion-card-header>
            {{comment?.author?.username}}
          </ion-card-header>
          <ion-card-content>
            {{comment?.text}}
          </ion-card-content>
        </ion-card>
        
</ion-content>
