<!-- 
<ion-menu [content]="mycontent">
    <ion-content>
      <ion-list>
        <p>some menu content, could be list items</p>
      </ion-list>
    </ion-content>
  </ion-menu> -->
  
<ion-nav #mycontent [root]="rootPage"></ion-nav>
